@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(https://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background: #e8e8e8;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width: 250px;
    overflow: visible;
}

.main-menu {
    background: #fff;
    position: absolute;
    top: 30%;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    z-index: 1000;
}

.main-menu>ul {
    margin: 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    border-bottom: 5px solid #e8e8e8;
    height: 50px;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover, a:focus {
    text-decoration: none;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul, nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a, nav.main-menu li.active>a, .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    background-color: #fd591f;
}

.content-area {
    float: left;
    background: #e8e8e8;
    padding-left: 120px;
    width: 100%;
    height: 100%;
}

ul.tabs {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.tabs li {
    background: none;
    color: #000;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    min-width:200px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid #ececec;
}

ul.tabs li.current {
    background: #d2d0d0;
    color: #fd591f;
    border-bottom: 2px solid #fd591f;
}

.tab-content {
    display: none;
    background: #d2d0d0;
    padding: 15px;
}

.tab-content.current {
    display: inherit;
}

.btn-create-memo{
    margin-bottom: 30px;
}

.div-counter{
    background: #000;
    padding-top: 10px;
    font-weight: bold;
    font-size: 50px;
    padding-left: 35px;
    color: #fff;
}

.div-inv{
    background: #fff;
    padding-top: 10px;
    color:#000;
    font-weight: bold;
}

.h-full{
    height: 100%;
}

.box-height{
    height:110px;
    margin-bottom: 30px;
    cursor: pointer;
}

.btn-orange,.btn-orange:hover{padding: 6px 40px;background-color: #fd591f;color:#fff;}
        .fileUpload{
        background-color: #337ab7;
        border-color: #2e6da4;
        color: white;
        cursor: pointer;
        }
        .fileUpload input.upload {
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        width: 71px;
        height: 34px;
        }
        #memo-form .modal-dialog, #decision-memo-form .modal-dialog{
            width: 95%;
        }
        .chosen-container{
            width: 100% !important; 
        }
        .iradio_square-blue {
    margin-right: 5px;
}

.back-box{
        width: 70px;
    height: 70px;
    padding: 17px;
    background: black;
    margin-bottom: 20px;
    cursor: pointer;
}

.back-box .fa{
    font-size: 30px;
    color:white;
}

.inv{
    background: white;
}

.bg-white ul.tabs li.current{
    background: #ececec;
}

.bg-white .tab-content{
    background: #fff;
}

.inv-ref{
    margin-top: 10px !important;
    font-weight: bold;
    font-size: 18px;
}

.p-im{
    font-size: 11px;
}

.p-im span b{
    margin-right: 4px;
}

.p-sec-im{
    margin-left: 5px;
}

.bbs_case_table thead{
    display: none;
}

.bbs_case_table tbody tr td{
    width:25%;
}

.fr{
    float: right;
}

.td-title{
    background: #cecece;
}

.div-textarea {
    min-height: 74px;
    height: auto;
}

.w100{
    width: 100%;
}

.mt20{
    margin-top: 20px;
}

.btn-cancel-leave, .btn-cancel-leave:hover{
    padding: 6px 40px;
    background-color: #545353;
    border-color: #545353;
    color:#fff;
}

.travel-header{
    font-size: 18px;
    font-weight:bold;
}

.travel-buttons{
    margin-top:20px;
}

.fc-toolbar button {
    position: relative;
    color: rgb(253,89,31);
    background: none;
    text-shadow: none !important;
}

.fc-toolbar h2 {
    margin: 0;
    color: rgb(253,89,31);
}

.fc-state-down, .fc-state-active {
    background-image: none;
    color: #FFF !important;
    background: rgb(253,89,31) !important;
}

.fc-past{
    opacity: .3;
    color: rgb(253,89,31);
}

.fc-today{
    background: rgb(253,89,31) !important;
    color: #fff !important;
}

.leave-info{
    font-size: 13px;
}

.days-leave{
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.days-leave-taken, .days-leave-taken-current-month{
    font-size: 45px;
    margin-top: 50px !important;
    margin-bottom: 0 !important;
}

.leave-text{
    text-transform: uppercase;
    font-size: 15px;
}

#leave-cal{
    background: #fff;
}

.fc-button-group{
    padding-top: 10px;
    padding-right: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Titillium Web', sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Titillium Web', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: 'Titillium Web', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: 'Titillium Web', sans-serif;
}

.fc-future{
    cursor: pointer;
}

.m0{
    margin: 0 !important;
}

.mb5{
    margin-bottom: 5px !important;
}

.p-im b{
    margin-right: 5px;
}

#calendar{
    padding-bottom: 15px;
}

.leave-day-selected{
    background: #005591;
}

.has-feedback label~.form-control-feedback {
    top: 26px;
}

.has-feedback div.date + i.form-control-feedback {
    right: -15px;
}

.chosen-container-single .chosen-single{
    height: 34px !important;
    padding: 5px 0 0 8px !important;
}

.chosen-container-single .chosen-single div {
    top: 3px;
}

.date .form-control-feedback {
    top: 0;
    right: -25px;
}