<ul class="tabs">
    <li class="tab-link current" data-tab="tab-1">VIEW INVESTMENTS</li>
    <li class="tab-link" data-tab="tab-2">VIEW DRAFTS</li>
</ul>
<div id="tab-1" class="tab-content current">
    <button type="button" class="btn btn-primary btn-create-memo" onclick="getMemoForm()">Create New</button>
    <div id="inv-contain">
    </div>
</div>
<div id="tab-2" class="tab-content">
    <div class="row">
        <div class="col-md-12">
            <table id="tbmybmemo" class="table table-responsive">
                <thead>
                     <tr>
                        <th>Ref</th>
                        <th>Business Case</th>                         
                        <th>Districts</th>
                        <th>State</th>
                        <th>IM(1)</th>
                        <th>IM(2)</th>
                        <th>Approval</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                 </thead>
                <tbody>                                             
                </tbody>
            </table>
        </div>
    </div>
</div>


<div id="memo-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Business Case Memo</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div id="bcmemo">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label> Business Case Title (*)</label>
                                <br />
                                <input type="hidden" id="bmemoid">
                                <input type="text" name="title" class="form-control blinput" id="bCasetitle" value=""/>
                            </div>
                            <div class="col-md-3">
                                <label> Ref. No: (*)</label>
                                <br /> 
                                <p id="refno"></p>
                                <input type="hidden" name="reference_number" class="form-control refno" id="refno-h" value=""/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label> Pillar: (*)</label>
                                <select class="form-control selectpicker" name="pillar" id="pillar" data-placeholder="Pillar">
                                    <option value=""></option>
                                    <option value="Conflict Prevention &amp; Management" data-initial="CP">Conflict Prevention &amp; Management</option>
                                    <option value="Monitoring &amp; Evaluation, Research &amp; Learning" data-initial="ME">Monitoring &amp; Evaluation, Research &amp; Learning</option>
                                    <option value="Services" data-initial="SR">Services</option>
                                    <option value="Stabilization" data-initial="ST">Stabilization</option>
                                    <option value="State Building" data-initial="SB">State Building</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Federal State: (*)</label>
                                <select class="form-control selectpicker" name="state" id="state" data-placeholder="Location(Federal State)">
                                    <option value=""></option>
                                    <option value="Banadir" data-initial="BR">Banadir</option>
                                    <option value="Galmudug State of Somalia" data-initial="GS">Galmudug State of Somalia</option>
                                    <option value="Hiraan &amp; Middle Shabelle" data-initial="HM">Hiraan &amp; Middle Shabelle</option>
                                    <option value="Jubbaland State of Somalia" data-initial="JS">Jubbaland State of Somalia</option>
                                    <option value="Multi-Region" data-initial="MR">Multi-Region</option>
                                    <option value="Nationwide" data-initial="NW">Nationwide</option>
                                    <option value="Non-Specific" data-initial="NS">Non-Specific</option>
                                    <option value="Puntland" data-initial="PL">Puntland</option>
                                    <option value="Somaliland" data-initial="SL">Somaliland</option>
                                    <option value="Sool &amp; Sanaag" data-initial="SS">Sool &amp; Sanaag</option>
                                    <option value="South West State" data-initial="SW">South West State</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Districts:</label>
                                <select class="form-control selectpicker" name="district[]" id="district" data-placeholder="Location(Districts)" multiple>
                                    <option value=""></option>
                                    <option value="Abudwak">Abudwak</option>
                                    <option value="Adado">Adado</option>
                                    <option value="Afmadow">Afmadow</option>
                                    <option value="Aluula">Aluula</option>
                                    <option value="Baidoa">Baidoa</option>
                                    <option value="Baki">Baki</option>
                                    <option value="Balacad">Balacad</option>
                                    <option value="Baraawe">Baraawe</option>
                                    <option value="Bardera">Bardera</option>
                                    <option value="Bardheere">Bardheere</option>
                                    <option value="Beled Haawo">Beled Haawo</option>
                                    <option value="Beletweyne">Beletweyne</option>
                                    <option value="Bosaso">Bosaso</option>
                                    <option value="Buaale">Buaale</option>
                                    <option value="Burao">Burao</option>
                                    <option value="Buuhoodle">Buuhoodle</option>
                                    <option value="Buuhoodle">Buuhoodle</option>
                                    <option value="Ceel Barde">Ceel Barde</option>
                                    <option value="Ceeldheer">Ceeldheer</option>
                                    <option value="Dhahar">Dhahar</option>
                                    <option value="Dhusamareb">Dhusamareb</option>
                                    <option value="Dinsoor">Dinsoor</option>
                                    <option value="El Buur">El Buur</option>
                                    <option value="Galkayo">Galkayo</option>
                                    <option value="Garbaharey">Garbaharey</option>
                                    <option value="Garowe">Garowe</option>
                                    <option value="Godinlabe">Godinlabe</option>
                                    <option value="Guriel">Guriel</option>
                                    <option value="Harardhere">Harardhere</option>
                                    <option value="Hargeisa">Hargeisa</option>
                                    <option value="Hobyo">Hobyo</option>
                                    <option value="Jowhar">Jowhar</option>
                                    <option value="Kismayo">Kismayo</option>
                                    <option value="Las Anod">Las Anod</option>
                                    <option value="Las Qorey">Las Qorey</option>
                                    <option value="Luuq">Luuq</option>
                                    <option value="Mogadishu">Mogadishu</option>
                                    <option value="Nationwide">Nationwide</option>
                                    <option value="Non-Specific">Non-Specific</option>
                                    <option value="Qardho">Qardho</option>
                                    <option value="Raskamboni">Raskamboni</option>
                                    <option value="Warsheikh">Warsheikh</option>
                                    <option value="Xudul">Xudul</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Source Of Proposal:</label>
                                <select class="form-control selectpicker" name="source_of_proposal" id="proposalSrc" data-placeholder="Source of Proposal">
                                    <option value=""></option>
                                    <option value="Federal Government">Federal Government</option>
                                    <option value="Federal Member States">Federal Member States</option>
                                    <option value="Fund Manager">Fund Manager</option>
                                    <option value="Government">Government</option>
                                    <option value="Joint Donor Committee">Joint Donor Committee</option>
                                    <option value="Secretariat Office">Secretariat Office</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label> Output 1:</label>
                                <select class="form-control selectpicker" name="output" id="output" data-placeholder="Outputs">
                                    <option value=""></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Output 2:</label>
                                <select class="form-control selectpicker" name="output2" id="output2" data-placeholder="Outputs 2">
                                    <option value=""></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Output 3:</label>
                                <select class="form-control selectpicker" name="output3" id="output3" data-placeholder="Outputs 3">
                                    <option value=""></option>
                                    <option>Fault-lines for political conflict (FGS-FMS, inter & intra state) are identified and appropriately addressed</option>
                                    <option>Enhanced popular participation in governance, particularly for women and excluded communities</option>
                                    <option>Increased government visibility and community engagement</option>
                                    <option>Reduced community vulnerability to conflict</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Estimated Fund Ceiling:</label>
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        $
                                    </div>
                                    <input type="text" name="estimated_fund_ceiling" class="form-control" name="estimated_fund_ceiling" id="fundceiling" placeholder="Estimated Fund Ceiling" value=""/>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label> Investee Type:</label>
                                <select class="form-control selectpicker" name="investee_type" id="invtype" data-placeholder="Investee Type">
                                    <option value=""></option>
                                    <option value="AGA">AGA</option>
                                    <option value="AGA/CONSTRUCTION">AGA/CONSTRUCTION</option>
                                    <option value="AGA/LOAN">AGA/LOAN</option>
                                    <option value="Construction">Construction</option>
                                    <option value="Construction Management">Construction Management</option>
                                    <option value="Direct Invoice">Direct Invoice</option>
                                    <option value="Direct support to Federal Govt">Direct support to Federal Govt</option>
                                    <option value="Independent Consultant">Independent Consultant</option>
                                    <option value="Invoice Based">Invoice Based</option>
                                    <option value="MOU">MOU</option>
                                    <option value="Supplier">Supplier</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label> Primary IM:</label>
                                <select id="primaryIM" name="primary_im" class="form-control selectpicker"  data-placeholder="Primary IM..."
                                readonly="readonly" >
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label> Secondary IM:</label>
                            <select id="secondaryIM" name="secondary_im" class="form-control selectpicker"  data-placeholder="Secondary IM...">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label> Procurement Cycle:</label>
                            <select id="procurement_cycle" name="procurement_cycle" class="form-control selectpicker"  data-placeholder="Procurement Cycle...">
                                <option value=""></option>
                                <option value="AGA Procurement">AGA Procurement</option>
                                <option value="Direct Procurement">Direct Procurement</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label> Procurement Types:</label>
                            <br>
                            <label class="radio-inline">
                                <input type="radio" class="procurement_type" name="procurement_type" value="Limited/Closed">Limited/Closed
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="procurement_type" name="procurement_type" value="Open">Open
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6"><label for="probstat">Problem Statement:</label><textarea name="problem_statement" id="probstat" placeholder="Problem Statement/Analysis" cols="30" rows="5" class="form-control"></textarea></div>
                        <div class="col-md-6"><label for="justification">Justification:</label><textarea name="justification" id="justification" placeholder="Justification &amp; Alignment with SSF Stategy" cols="30" rows="5" class="form-control"></textarea></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-8 col-md-4 col-xs-12">
                            <button class="btn btn-primary save-memo-draft" type="button">Save as Draft</button>
                            <button class="btn btn-orange" id="nextbcmemo" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div class="hidden mm" id="bcmemonext">
                    <div class="form-group">
                        <div class="col-md-6"><label for="recomhead">Recommendation:</label><textarea name="recommendation_to_the_head_of_ssf" id="recomhead" placeholder="Recommendation to the head of SSF" cols="30" rows="5" class="form-control"></textarea></div>
                    </div>
                    <label for="other1">Other Attachments:</label>
                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                            <div class="input-group">
                                <input id="other1" class="form-control inputFiles" placeholder="Other" disabled="disabled">
                                <div class="fileUpload input-group-addon">
                                    <span>Browse</span>
                                    <input id="first_other_document" type="file" name="first_other_document" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                            <div class="input-group">
                                <input id="other2" class="form-control inputFiles" placeholder="Other" disabled="disabled">
                                <div class="fileUpload input-group-addon">
                                    <span> Browse </span>
                                    <input id="second_other_document" type="file" name="second_other_document" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                            <div class="input-group">
                                <input id="other3" class="form-control inputFiles" placeholder="Other" disabled="disabled">
                                <div class="fileUpload input-group-addon">
                                    <span> Browse </span>
                                    <input id="third_other_document" type="file" name="third_other_document" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 inputGroupContainer">
                            <div class="input-group">
                                <input id="budget" class="form-control inputFiles" placeholder="Other" disabled="disabled">
                                <div class="fileUpload input-group-addon">
                                    <span> Browse </span>
                                    <input id="fourth_other_document" type="file" name="fourth_other_document" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group submit-type">
                        <input type="hidden" name="submit-type" id="submit-type">
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-7 col-md-5 col-xs-12">
                            <button class="btn btn-orange" id="bcprevmemo" type="button">Previous</button>
                            <button class="btn btn-primary save-memo-draft" type="button">Save as Draft</button>
                            <button class="btn btn-orange save-memo" type="button">Submit</button>
                            <Button class="btn btn-orange update-memo hidden" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
