<div class="inv bg-white">
    <div class="row">
        <div class="col-md-1">
            <div class="back-box" onclick="loadHome()">
                <i class="fa fa-arrow-circle-left fa-back"></i>
            </div>
        </div>
        <div class="col-md-11">
            <p class="inv-ref bbs-ref"></p>
            <p class="inv-title bbs-title"></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-11">BUSINESS CASE</li>
                <li class="tab-link" data-tab="tab-12">PROCUREMENT</li>
                <li class="tab-link" data-tab="tab-13">PERFORMANCE MANAGEMENT</li>
                <li class="tab-link" data-tab="tab-14">MODIFICATIONS</li>
                <li class="tab-link" data-tab="tab-15">CLOSE OUT</li>
            </ul>
            <div id="tab-11" class="tab-content current">
                <div class="row business_case form-horizontal">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Reference No:</label>
                                <span class="bbs-ref">PG_SW_01</span>
                            </div>
                            <div class="col-md-push-6 col-md-2">
                                <div class="row iconbl fr">
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)" onclick="PrintElem('tab-11');"><i class="fa fa fa-print fa-2x"></i> <span></span></a></div>
                                    <div class="col-lg-4 col-sm-4"><a href="javascript:void(0)"><i class="fa fa fa-download fa-2x"></i><span></span></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-bordered bbs_case_table">
                            <thead>
                                <tr>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                    <th class="w25"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="td-title"><b>Business Case Title:</b></td>
                                    <td colspan="3" class="bbs-title"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Source of Proposal</b></td>
                                    <td class="bbs-prop"></td>
                                    <td class="td-title"><b>Output</b></td>
                                    <td class="bbs-output"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location(s)/District(s)</b></td>
                                    <td class="bbs-districts"></td>
                                    <td class="td-title"><b>Output 2</b></td>
                                    <td class="bbs-output2"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Location/Federal State</b></td>
                                    <td class="bbs-state"></td>
                                    <td class="td-title"><b>Output 3</b></td>
                                    <td class="bbs-output3"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Procurement Type</b></td>
                                    <td class="bbs-proc_type"></td>
                                    <td class="td-title"><b>Estimated Fund Ceiling</b></td>
                                    <td>$<span class="bbs-fund"></span></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>Investment Type</b></td>
                                    <td class="bbs-inv_type"></td>
                                    <td class="td-title"><b>Procurement Cycle</b></td>
                                    <td class="bbs-proc_cycle"></td>
                                </tr>
                                <tr>
                                    <td class="td-title"><b>IM (1)</b></td>
                                    <td class="bbs-im1"></td>
                                    <td class="td-title"><b>IM (2)</b></td>
                                    <td class="bbs-im2"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">PROBLEM STATEMENT ANALYSIS</label>
                            </div>
                        </div>
                        <div class="div-textarea form-control bbs-prob">
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">JUSTIFICATION &amp; ALIGNMENT WITH SSF STRATEGY</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-just">
                            
                        </div>
                    </div>                    
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">RECOMMENDATION TO THE HEAD OF SSF</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-rec">
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">TL Comments</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-tlcomment">
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="control-label">SO Comments</label>
                            </div>
                        </div>
                        <div class="form-control div-textarea bbs-socomment">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-12" class="tab-content">
                <button type="button" class="btn btn-primary btn-create-memo" onclick="getDecisionMemoForm()">Create New Decision Memo</button>
                <iframe id='ProcFrame' class="MainIframe" src="https://somaliastabilityke.sharepoint.com/sites/ssf2/Procurement/Forms/AllItems.aspx" frameborder="0" style="overflow:hidden;height:700px;width:100%" width="100%"></iframe>
            </div>
            <div id="tab-13" class="tab-content">
                <iframe id='PerfFrame' class="MainIframe" src="https://somaliastabilityke.sharepoint.com/sites/ssf2/Performance%20Management/Forms/AllItems.aspx" frameborder="0" style="overflow:hidden;height:700px;width:100%" width="100%"></iframe>
            </div>
            <div id="tab-14" class="tab-content">
                MODIFICATIONS
            </div>
            <div id="tab-15" class="tab-content">
                CLOSEOUT
            </div>
        </div>
    </div>
</div>

<div id="decision-memo-form" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Decision Memo</h4>
            </div>
            <div class="modal-body">
                <div class="dec-content-area">
                    <div class="first-form">
                        <!--begin first div-->
                        <div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <span><label><b>Ref Code</b></label>: <span class="tl bbs-ref"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Title</b></label>: <span class="tl bbs-title"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Output</b></label>: <span class="tl bbs-out"></span></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <span><label><b>Source of Proposal</b></label>: <span class="tl bbs-prop"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Location (Federal State)</b></label>: <span class="tl bbs-state"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Location (District)</b></label>: <span class="tl bbs-districts"></span></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <span><label><b>Pillar</b></label>: <span class="tl bbs-pillar"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Investee</b></label>: <span class="tl bbs-inv_type"></span></span>
                                </div>
                                <div class="col-md-4">
                                    <span><label><b>Objective</b></label>: <span class="tl bbs-obj"></span></span>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label class="control-label">Estimated Fund Ceiling</label>
                                        <input id="fundceiling" class="form-control bbs-fund" value="" name="estimated_fund">
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Start Date</label>
                                        <div class='input-group date' id='datetimepicker1'>
                                            <input type='text' id="startdate" class="form-control" name="start_date" placeholder="Start Date"  value=""/>
                                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">End Date</label>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' id="enddate" class="form-control" name="end_date"  placeholder="End Date"  value=""/>
                                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Email Address</label>
                                    <input type="email" id="email" class="form-control" placeholder="Email Address" name="email"   value="">
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Phone Number</label>
                                    <input type="text" id="phone" class="form-control" placeholder="Phone Number" name="phone_number" value="">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="control-label">Contact Information</label>
                                    <textarea class="form-control" id="address" rows="3" name="contact" placeholder="Contact Information"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="dec-label">Introduction/Background</label>
                                    <textarea class="form-control" id="background" rows="3" name="introduction" placeholder="Introduction/Background"></textarea>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-offset-6 col-md-8 col-xs-12">
                                    <button class="btn btn-orange btn-next-second-form" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label class="dec-label">Key Activities and Expected Results of Proposed Investments</label>
                                <textarea class="form-control" id="keyact" rows="3" name="key_activities" placeholder="Key activities and expected results of proposed investments"></textarea>
                            </div>

                            <div class="col-md-12">
                                <label class="dec-label">Value for Money Summary</label>
                                <textarea class="form-control" id="valuemoney" rows="3" name="value_for_money" placeholder="Value for money summary"></textarea>
                            </div>


                            <div class="col-md-12">
                                <label class="dec-label">Risk Assessment Summary</label>
                                <textarea class="form-control" id="risksummary" rows="3" name="risk_assessment" placeholder="Risk Assessment Summary"></textarea>
                            </div>

                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-primary btn-prev-first-form" type="button">Previous</button>
                                <button class="btn btn-orange btn-next-third-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="third-form" style="display: none;">
                        <div class="row form-group">

                            <div class="col-md-12">
                                <label class="dec-label">Sustainability Summary</label>
                                <textarea class="form-control" id="sustain" rows="3" name="sustainability_summary" placeholder="Sustainability summary"></textarea>
                            </div>

                            <div class="col-md-12">
                                <label class="dec-label">Conflict Sensitivity and Gesi Summary</label>
                                <textarea class="form-control" id="conflictsens" rows="3" name="conflict_sensitivity" placeholder="Conflict sensitivity and gesi summary"></textarea>
                            </div>

                            <div class="col-md-12 form-group">
                                <label class="dec-label">Recommendations to the Head of SSF [Action Being Requested]</label>
                                <textarea class="form-control" id="recomm" rows="3" name="recommendation" placeholder="Recommendation to the head of SSF"></textarea>
                            </div>

                            <div class="col-md-6">
                                <div class="eva-report-fm-input input-group">
                                    <input id="budget" class="form-control inputFiles" disabled="disabled" placeholder="Evaluation Report">
                                    <div class="fileUpload input-group-addon">
                                        <span> Browse </span>
                                        <input id="b1" type="file" name="evaluation_report" class="upload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-primary btn-prev-second-form" type="button">Previous</button>
                                <button class="btn btn-orange btn-next-fourth-form" type="button">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="fourth-form" style="display: none;">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label lfa">LFA TOOLKIT</label>
                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Management Report">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="management_report">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Workplan">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="workplan">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Budget">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="budget">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Logframe">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="logframe">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Sustainability plan">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="sustainability_plan">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Risk Register">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="risk_register">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="direct-dec-memo form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input id="1uploadFile" class="form-control inputFiles" disabled="disabled" placeholder="Proposal">
                                                <div class="fileUpload input-group-addon">
                                                    <span> Browse </span>
                                                    <input id="b1" type="file" class="upload" name="proposal">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-offset-6 col-md-8 col-xs-12">
                                <button class="btn btn-primary btn-prev-third-form" type="button">Previous</button>
                                <button type="button" class="btn btn-orange btn-submit save-dec-memo">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!--end of third div-->
                </div>
            </div>
        </div>
    </div>
</div>