<style>
.card {
	background-color:#fff;
	font-size: 1em;
	overflow: hidden;
	border: none;
	border-radius: .28571429rem;
	box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}
.bottom{
	padding: 8px 20px;
} 
.r-tasks .card{
	margin-bottom: 20px;
}
.r-tasks .info{
	padding:16px 20px;
}
.r-tasks .info h4{
	font-weight: 700;
	font-size: 24px;
}
</style>

<div class="row r-tasks">
	<h4 class="text-center und">PENDING TASKS</h4>

	<div class="col-md-4 col-lg-3 col-sm-6" id="bcmemo" onclick="loadBMemoTasks()">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Business Case Memos</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div>
	<!-- <div class="col-md-4 col-lg-3 col-sm-6" id="adv">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Adverts</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div> -->
	<div class="col-md-4 col-lg-3 col-sm-6" id="decmemo" onclick="loadDecMemoTasks()">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Decision Memos</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 col-sm-6" id="modmemo" onclick="loadmodMemoTasks()">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Modification Memo</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div>
	<!-- <div class="col-md-4 col-lg-3 col-sm-6" id="permgt">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Performance Management</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div> -->
	
	<div class="col-md-4 col-lg-3 col-sm-6" id="closeout">
		<div class="card text-center">
			<div class="info">
				<h4>00</h4>
				<label>Close Out</label>
			</div>
			<div class="bottom btn-primary">Review</div>
		</div>
	</div>

</div>